transformers==4.51.3
vllm-flash-attn==2.6.2
vllm==0.8.5.post1
flash_attn==2.7.4.post1
datasets==4.0.0
fire
accelerate
flash-attn
loguru==0.7.3
bleurt-pytorch==0.0.1
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
tenacity
tqdm
numpy
scipy
pandas
matplotlib
